body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    color: #444444;
}

#navbar{
    padding: 8px;
    margin: 0;

}

#logo{
    height: 30px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 600;
    color: #222222;
}





h1 {
    text-align: center;
    color: rgb(39, 38, 39);
    font-size: 3rem;
}

#banner {
    width: 100%;
    object-fit: cover;
}

#About{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

#description{
    width: 50%;
    padding: 8px;
}

#team {
    width: 50%;
}

#teamimg{
    border-radius: 10px;
    width: 100%;

}


h2{
    text-align: center;
    font-size: 2rem;
}

#jobs{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

h3{
    margin-bottom: 4px;
}

a {
    text-decoration: none;
    color: #2563EB;
}

a:hover{
    color: #1E3A8A;
}

#footer {
    background-color: #E2E8F0;
    margin-top: 32px;
    padding: 8px;
    text-align: center;

}

#footer-links{
    list-style: none;
}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: #6B7280;
}

#jobs-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: #BFDBFE;
    font-weight: 600;
    color: #222222;
}


.jobs-data-row td {
    border: 1px solid grey;
    padding: 8px;
}

#jobs-table tr:nth-child(odd){
    background-color: #DBEAFE;
}   

#application {
    max-width: 800px;
    margin: 0 auto;
}

.form-group{
    margin-bottom: 16px;
}

#application-form label{
    font-weight: 600;
    font-size: 1.2rem;
}

.form-group textarea{
    width: 100%;
    font-family: "Roboto";
}

.form-group button{
    background-color: #60A5FA;
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border: 1px solid #6B7280;
    border-radius: 5px;
    font-family: Roboto;
    cursor: pointer;
}



#application-form input , select , textarea {
    padding: 8px;
    font-size: 1.25rem;
    margin-top: 4px;
    border: 1px solid #6B7280;
    border-radius: 5px;
    font-family: Roboto;
    
}